<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>Forms & Workflow Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forms-sprint-progress" data-view="Meter" data-title="Forms' Sprint Progress" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%" style="background-color:DarkCyan"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="forms-sprint-days-remaining" data-view="Number" data-title="Days Remaining to the End of Forms' Sprint" style="background-color:DarkCyan"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="workflow-sprint-progress" data-view="Meter" data-title="Workflow's Sprint Progress" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%" style="background-color:DarkOliveGreen"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="workflow-sprint-days-remaining" data-view="Number" data-title="Days Remaining to the End of Workflow's Sprint" style="background-color:DarkOliveGreen"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="2">
      <div data-id="code-reviews" data-view="Ghusers" data-title="Open Code Reviews" data-moreinfo="# of code review requests"></div>
    </li>
    
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="issues-filter" data-view="Number" data-title="Issues" style="background-color:red"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="fp-5-filter" data-view="Number" data-title="Fix Priority 5"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="fp-4-filter" data-view="Number" data-title="Fix Priority 4"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="fp-3-filter" data-view="Number" data-title="Fix Priority 3"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="5" data-sizey="1">
      <div data-id="wip-tasks" data-view="Tasks" data-title="Work In Progress"></div>
    </li>
  </ul>
</div>
