<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>Forms & Workflow Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-text="Forms & Workflow Dashboard"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock" ></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="sprint-progress" data-view="Meter" data-title="Sprint Progress" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="sprint-days-remaining" data-view="Number" data-title="Days Remaining to the End of Sprint"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="code-reviews" data-view="List" data-unordered="true" data-title="Open Code Reviews" data-moreinfo="# of code review requests"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="issues-filter" data-view="Number" data-title="Issues" style="background-color:red"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fp-5-filter" data-view="Number" data-title="Fix Priority 5"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fp-4-filter" data-view="Number" data-title="Fix Priority 4"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fp-3-filter" data-view="Number" data-title="Fix Priority 3"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="5" data-sizey="1">
      <div data-id="wip-tasks" data-view="Tasks" data-title="Work In Progress"></div>
    </li>
  </ul>
</div>
