// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;
$value-color:       #000;

$title-color:       rgba(0, 0, 0, 0.7);
$label-color:       rgba(0, 0, 0, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-ghusers {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  img {
	width: 50px;
	height: 50px;
	border-radius: 60px;
	border: 3px solid #b74724;
  }

  .box-value {
  	width: 50px;
	height: 40px;
	border-radius: 60px;
	background-color: #fff;
	border: 3px solid #b74724;
	padding-top: 10px;
	float: right;
	margin-right: 80px;
  }
	
  .value, .more-info, .updated-at {
  	color: #000;
  	font-weight: bold;
  }

}